extends template.pug

append content 
    .mainSection 
        .title WordVault
        .textArea 
            h3 write a sentence
            form(action="") 
                textarea(name="", cols="30", rows="10")
                br
                input(type="submit", value="Get Value") 