@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto+Slab:wght@400;500;700&display=swap');
body{
    background:#F4ECD6;
    color:#2B3D41;

}
*{
    color: #2B3D41;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar{
    width:100%;
    height: 10vh;
    display: flex;
    margin-bottom: 32px;
}
.navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navbar ul li a{
    padding: 8px 16px;
    opacity: 0.7;
    transition: .5s;
}
.navbar ul li a:hover{
    opacity: 1
}
.navbar ul li a.active{
    opacity: 1;
}
.navbar .addLinks{
    width: 90%;
}
.navbar .addLinks{
    display: flex;
    justify-content: end;
}
.mainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    font-weight: bold;
}
.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
}